body {
    background-color: #f5eeee;
    color: #fff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.banner {
    width: 100%;
    background-color: #333;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-start;
}

.menu-button {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu-button:hover {
    background-color: #555;
}

.content {
    flex-grow: 1;
    padding: 20px;
}
