main {
    max-width: 800px;
    padding: 20px; 
    margin: 50px auto 0 auto; /* Центрирование и отступ сверху */
}

ol, ul {
    padding: 0px;
    list-style-position: inside;
}

ol li, ul li {
    background: #333;
    margin: 10px 0; /* Отступы между элементами */
    padding: 10px; /* Oтступы в элементе */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень */
    transition: transform 0.2s; /* Плавное увеличение при наведении */
}

ol li:hover, ul li:hover {
    transform: scale(1.02); /* Увеличение элемента при наведении */
    background-color: #555; /* Изменение цвета фона при наведении */
}

dl {
    background: #333;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

dt {
    font-weight: bold;
    color: #0066FF;
    margin-top: 10px;
}

dd {
    margin-left: 15px;
    color: #fff;
}

@media (max-width: 600px) {
    main {
        padding: 10px;
    }

    .menu-button {
        font-size: 14px;
        padding: 8px 12px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 22px;
    }
}
