/* Глобальные стили */
* {
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.banner {
    width: 100%;
    background-color: #1a1a1a;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.menu-button {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu-button .icon {
    width: 20px;
    height: 20px;
    margin-right: 5px; /* Уменьшено расстояние между иконкой и текстом */
}

.menu-button:hover {
    background-color: #555;
}

main {
    display: flex;
    margin-top: 58px; /* Чтобы контент не залезал под фиксированный header */
    flex-direction: row; /* горизонтальное размещение по умолчанию */
}

/* Боковая панель */
.sidebar {
    background-color: #1a1a1a;
    padding: 20px;
    position: sticky;
    top: 58px; /* Фиксация сайдбара при прокрутке */
    width: 220px;
    height: 100vh; /* Полная высота */
    overflow-y: auto; /* Прокрутка, если контент не влезет */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #555;
}

.sidebar ul li a .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* Контент */
.content {
    flex-grow: 1;
    padding: 20px;
    min-height: 100vh;
}

/* Стили для текста */
.content h1,
.content p {
    color: #fff;
}

/* Адаптивная версия */
@media (max-width: 600px) {
    main {
        flex-direction: column; 
    }

    .sidebar {
        width: 100%;
        position: static;
        height: auto;
        padding: 10px;
    }

    .sidebar ul li a {
        justify-content: center; 
        text-align: center;
    }

    .content {
        margin-left: 0;
        padding: 10px;
    }
}
