main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin-top: 80px; /* Отступ сверху для учёта фиксированного баннера */
}

.text-container {
    position: relative;
    font-size: 100px;
    font-weight: bold;
}

.text-shadow {
    color: #681111;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 30px; /* Расстояние для смещения тени */
    margin-left: 30px; /* Расстояние для смещения тени */
}

.text-main {
    color: #FF0000;
    position: relative;
}

@media (max-width: 600px) {
    .text-container {
        font-size: 50px;
    }

    .text-shadow {
        margin-top: 15px; 
        margin-left: 15px; 
    }

    .menu-button {
        font-size: 14px;
        padding: 8px 12px;
    }
}
